<main role="main" [ngClass]="(themeColorsCss$ | async) || []">
  <ng-container
    *ngIf="pageContext$ | async as page"
    [ngTemplateOutlet]="mainContent"
    [ngTemplateOutletContext]="{
      page,
      theme: theme$ | async
    }"
  ></ng-container>
</main>

<ng-template #mainContent let-theme="theme" let-page="page">
  <top-bar
    class="top-bar"
    [isLightColorTheme]="theme.lightThemeOff !== true"
    (askForMenu)="displayMenu()"
  ></top-bar>
  <span class="title title-page">{{ page.pageTitle }}</span>

  <div *ngIf="isLoading$ | async" class="grid full-center w-100 h-100 loading">
    <mat-spinner [diameter]="32"></mat-spinner>
  </div>

  <section class="main-section">
    <ng-content></ng-content>
  </section>
</ng-template>
