// build percentages
$pc: '%';
@mixin percent-for($prop, $alias) {
    @for $i from 1 through 100 {
        .#{$alias}-#{$i} {
            #{$prop}: #{$i}#{$pc};
        }
    }
}

@mixin h-flex($wrap: '', $stretch: '') {
    display: flex;
    @if $stretch != '' {
        align-items: stretch;
    } @else {
        align-items: center;
    }
    @if $wrap != '' {
        flex-wrap: wrap;
    } @else {
        flex-wrap: nowrap;
    }
    align-items: center;
    justify-content: flex-start;
}

@mixin autozero-for($prop, $alias) {
    .#{$alias}-auto {
        #{$prop}: auto;
    }
    .#{$alias}-0 {
        #{$prop}: 0;
    }
}