@use 'mixins' as m;

$props:
    ("p": width, "a": wp), 
    ("p": height, "a": hp);

@each $p in $props {
    @include m.percent-for(map-get($p, "p"), map-get($p, "a"));
    @include m.percent-for('min-' + map-get($p, "p"), 'min-' + map-get($p, "a"));
    @include m.percent-for('max-' + map-get($p, "p"), 'max-' + map-get($p, "a"));
}

$units: pc, ch, em, rem, pt, vw, vh, cm, mm, in;
@for $i from 0 through 100 {
    .vww-#{$i} {
        width: #{$i}vw;
    }
    .p-#{$i}, .p-#{$i}px {
        padding: #{$i}px;
    }
    .m-#{$i}, .m-#{$i}px {
        margin: #{$i}px;
    }

    @each $unit in $units {
        .p-#{$i}#{$unit} {
            padding: #{$i}#{$unit};
        }
        .m-#{$i}#{$unit} {
            margin: #{$i}#{$unit};
        }
    }

    .fsz-#{$i}pt {
        font-size: #{$i}pt;
    }
    .fsz-#{$i}px {
        font-size: #{$i}px;
    }
}

.w-0 {
    width: 0;
}
.w-auto {
    width: auto;
}
.h-0 {
    height: 0;
}
.h-auto {
    height: auto;
}