@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    input, select, textarea {
        font-family: inherit;
        color: inherit;
        font-weight: inherit;
    }

    .default-font, .poiret-one-font {
        font-family: 'Poiret One' !important;
        font-weight: 400;
        font-size: 13pt;
    }

    .gruppo-font {
        font-family: 'Gruppo' !important;
    }

    .colors {
        --default-hue: 0;
        --opposite-hue: 180;
        --dark: 10%;
        --bright: 80%;

        &.dark {
            background-color: hsl(var(--default-hue) 100% var(--dark) / 1);
            color: hsl(var(--opposite-hue) 100% 70% / 1);
        }
        &.light {
            background-color: hsl(var(--default-hue) 100% var(--bright) / 1);
            color: hsl(var(--opposite-hue) 30% 30% / 1);
            font-weight: 600;
        }
    }

    .title-page {
        font-weight: 900;
        font-size: 26pt;
    }

    .clickable {
        cursor: pointer;
    }

    a.block {
        text-decoration: none;
        border: none;
        outline: none;
        color: inherit;
        &:visited, &:hover, &:active, &:focus, &:focus-visible {
            text-decoration: none;
            border: none;
            outline: none;
            color: inherit;
        }

        &:hover span {
            text-decoration: underline;
        }
    }
}

