
$pc: '%';

@for $i from 0 through 100 {
    .w-#{$i} {
        width: #{$i}#{$pc};
    }
    .h-#{$i} {
        height: #{$i}#{$pc};
    }
    .vww-#{$i} {
        width: #{$i}vw;
    }
    .p-#{$i}, .p-#{$i}px {
        padding: #{$i}px;
    }
    .m-#{$i}, .m-#{$i}px {
        margin: #{$i}px;
    }
}