
<div class="flex v-flex-align-middle h-flex-align-center">
  <mat-button-toggle-group (change)="toggleColors($event)">
      <mat-button-toggle value="light" aria-label="Light Theme" [checked]="isLightColorTheme">
        <mat-icon>light_mode</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="dark" aria-label="Dark Theme" [checked]="!isLightColorTheme">
          <mat-icon>nightlight_round</mat-icon>
        </mat-button-toggle>
  </mat-button-toggle-group>
  <select #language aria-label="language" (change)="languageSelected(language.value)">
    <option *ngFor="let lang of languages" [value]="lang.code" [disabled]="lang.disabled" [selected]="lang.selected">{{ lang.name }}</option>
  </select>
</div>
<input type="text" placeholder="search..." class="search-input">

<mat-icon class="clickable" (click)="menuIconClick()">menu_open</mat-icon>
