/* You can add global styles to this file, and also import other style files */
@use "styles/vendors/bootstrap" as b;
@use "styles/themes/theme";
@use "styles/vendors/material";
@use "styles/abstracts/variables" as *;
@use "styles/abstracts/mixins" as m;
@use "styles/layout/flex" as *;
@use "styles/layout/grid" as *;

html {
  @extend .h-100;
}
body {
  @extend .hp-100, .m-0;

  .grid-input {
    input {
      background-color: transparent;
      color: white;
      padding: 0 0.5ch;
      border-style: solid;
      border-width: 1px;
      height: 80%;
    }
  }

  .grid-input-mat-autocomplete.mat-autocomplete-panel {
    background-color: lightcoral;
    .mat-option-text {
      @extend .default-font;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
    }
    &::-webkit-scrollbar-track {
      background-color: lightgrey;
    }
    &::-webkit-scrollbar-thumb {
      background: #000;
    }
  }

  .grid-select {
    select {
      background-color: transparent;
      color: white;
      height: 80%;
      min-width: 10ch;
    }
  }

}


